# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary
*.test

# Output directories
dist/
bin/

# Dependency directories
vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.deploy

# Build output
api
coverage.txt

# Go workspace file
go.work

__debug_*